<header>
      <nav>
        <a href="/">
            <img src="/imgs/spark.svg" alt="" id="logo">
        </a>
        SPARK
      </nav>
</header>
<main>
  <h1>Account Creation Successful</h1>
  <h3>Click <a href="/login/<%= role %>">here</a> to log in</h3>
</main>

